.monitoringArticles, .adminArticles {
    width: 100%;
}

.adminArticles .adminArticles--header, .monitoringArticles .monitoringArticles--header {
    display: flex;
    justify-content: space-between;
}

.adminArticles .adminArticles--header h2, .monitoringArticles .monitoringArticles--header h2 {
    width: auto;
}

.adminArticles__list, .monitoring__list {
    margin-bottom: 20px;
    background-color: var(--commentPaleColor);
    color: white;
    width: 100%;
    min-width: 500px;
}

.articleLine {
    display: flex;
    width: 100%;
}

.articleLine div {
    display: flex;
    align-items: center;
}

.articleLine .title {
    font-weight: bold;
    min-width: 200px;
    width: 200px;
}

.articleLine .content {
    flex-grow: 1;
}

.monitoring__list > div, .articleLine > div {
    padding: 20px;
    border: 1px solid var(--backgroundColor);
}



.monitoring__list {
    display: grid;
    grid-template-columns: 8fr 1fr 2fr 2fr;
}

.monitoring__list--header {
    display: flex;
    justify-content: space-between;
    line-height:28px;
    gap:10px;
    align-items: center;
}
.monitoring__list--header h3, .monitoring__list--header .monitoring__list--order {
    display: inline;
}

.monitoring__list--order {
    font-size: 24px;
}