.monitoring-comments {
    width: 100%;
}
.monitoring-comments__list.gridList {
    grid-template-columns: 2fr 8fr 2fr 2fr;
}



.monitoring-comments__list.gridList > div:nth-child(8n + 5),
.monitoring-comments__list.gridList > div:nth-child(8n + 6),
.monitoring-comments__list.gridList > div:nth-child(8n + 7),
.monitoring-comments__list.gridList > div:nth-child(8n + 8) {
    background:var(--commentDarkerColor);
}