.monitoring-comments {
    width: 100%;
}
.monitoring-comments__list.gridList {
    grid-template-columns: 2fr 8fr 2fr 2fr;
}



.monitoring-comments__list.gridList > div:nth-child(10n + 5),
.monitoring-comments__list.gridList > div:nth-child(10n + 6),
.monitoring-comments__list.gridList > div:nth-child(10n + 7),
.monitoring-comments__list.gridList > div:nth-child(10n + 8) {
    background:rgba(0,122,184,0.25);
}